<div id="landing_page">
    <h1>Info Parquet</h1>
    <p>
        Simplifier le quotidien des agents des administrations 
        (hors services de police et gendarmerie) qui saisissent le 
        procureur de la République et des personnels judiciaires
        qui reçoivent et traitent ces procédures.
    </p>
</div>