@import "@gouvfr/dsfr/dist/css/dsfr.scss";


.fr-container.ip-hgroup, .fr-container.ip-vgroup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    padding: 5px;
    padding-top: 10px;
}

.fr-container.ip-vgroup {
    flex-direction: column;
}

.fr-container.ip-hgroup h3, .fr-container.ip-vgroup h3 {
    position: absolute;
    top: -20px;
    left: 5px;
    background: white;
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ip-label{
    font-weight: bold;
}

#landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}