.fr-container.ip-hgroup, .fr-container.ip-vgroup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    padding: 5px;
    padding-top: 10px;
}

.fr-container.ip-vgroup {
    flex-direction: column;
}

.fr-container.ip-hgroup h3, .fr-container.ip-vgroup h3 {
    position: absolute;
    top: -20px;
    left: 5px;
    background: white;
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ip-label{
    font-weight: bold;
}

#landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

main {
    padding-top: 20px;
    padding-bottom: 100px;
}

@keyframes flashanim {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fr-alert {
    animation-name: flashanim;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fr-alert--hidden {
    display: none;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

.actions {
    margin-top: 10px;
}

.fr-table table {
    display: table;
}