<p>Bonjour <%= "#{@user.prenom} #{user.nom}" %>!</p>

<p>Quelqun a effectué une requête de changement de mot de passe. Vous pouvez effectuer ce changement en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, veuillez ignorer ce message.</p>
<p>Votre mot de passe ne sera pas mis à jour tant que vous n'aurez pas cliqué sur le lien ci-dessus</p>
